#sidebar-wrapper {
    z-index: 1000;
    left: 220px;
    width: 0;
    height: 100%;
    margin-left: -220px;
    background: #1a1a1a;
}

body {
    font-family:"Raleway";
}

input.ng-invalid.ng-dirty {
    border-color: #a94442!important;
}

.sidebar {
    padding-top: 100px;
    padding: 20px;
    position: fixed;
    top:51px;
    left: 0;
}

.sidebar .nav-item {
    width: 100%;
}

.navbar-brand {
    font-size: 1.5em;
    color: #fff!important;
}