body {
    font-family:"Raleway";
}

input.ng-invalid.ng-dirty {
    border-color: #a94442!important;
}

.navbar {
    margin: 0;
    border: none;
    border-radius: 0;
}

.sidebar {
    position: relative;
    color: #677679;
}

.sidebar ul.nav.nav-sidebar {
    margin: 0 -15px;
}

.sidebar .nav-item {
    width: 100%;
}

.sidebar ul.nav.nav-sidebar li a {
    color: #677679;
}

.sidebar ul.nav.nav-sidebar li a i {
    width: 30px;
    margin: 0 10px;
    font-size: 16px;
}

.navbar-brand {
    font-size: 1.5em;
    color: #fff!important;
}

ul.nav.nav-sidebar li a:hover {
    background: #2c3334;
    color: white;
    transition: all 0.25s ease-in; /* explorer 10 */
    -webkit-transition: all 0.25s ease-in; /* chrome & safari */
    -moz-transition: all 0.25s ease-in; /* firefox */
    -o-transition: all 0.25s ease-in; /* opera */
}

footer {
    background: #222222;
    padding: 0 20px;
    color: white;
    min-height: 60px;
    line-height: 60px;
    margin-top: 20px;
}
.navbar-nav {
    padding: 10px;
}
.navbar-nav  li a {
    text-decoration: none;
    padding: 5px 25px;
    border: grey 2px solid;
    font-weight:bolder;
    text-transform: uppercase;
}

.navbar-nav li a:hover {
    background: #cf3046!important;
    border: white 2px solid;
    transition: all 0.25s ease-in; /* explorer 10 */
    -webkit-transition: all 0.25s ease-in; /* chrome & safari */
    -moz-transition: all 0.25s ease-in; /* firefox */
    -o-transition: all 0.25s ease-in; /* opera */
}


